# 제외할 파일들
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
gaon-venv/
.env
.git/
.gitignore
README.md
.pytest_cache/
.coverage
.mypy_cache/
logs/
*.log

# 하지만 이 파일들은 포함해야 함
!pyproject.toml
!requirement.txt
!alembic.ini
